@namespace xlink 'http://www.w3.org/1999/xlink';

body {
	font-family: sans-serif;
	margin: 0;
	box-shadow: inset 0 0 4em black;
	background: white;
	transition: background-color 0.4s;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body.winner {
	box-shadow: inset 0 0 4em gold;
}

body.player1 {
	background: #ffbfbf;
}

body.player2 {
	background: #cfdef7;
}

body.draw {
	background: #gray;
}

form { display: none; }
.setup form { display: block; }
.setup svg  { display: none; }
input[type=submit] {
	font-size: 150%;
	display: block;
	margin: 15px auto;
}

#topology_chooser label {
	padding: 5px 5px 5px 0;
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#topology_chooser label.disabled {
	background: hsl(0, 20%, 76%);
}


#topology_chooser label:not(.disabled):hover {
	background: yellow;
	cursor: pointer;
}

svg {
	display: flex;
	width: 100vmin;
	height: 100vmin;
	margin: 0;
}

/* SVG Styles */

/* Tiles */

#tile rect {
	fill: currentColor;
}

.highlight {
	fill: white;
	fill-opacity: 0.4;
}

.shadow {
	fill: black;
	fill-opacity: 0.08;
}

/* tile instances */

#tiles use {
	color: #eee;
	transition: color 0.1s;
}

/* reverse order so that lower numbers (brighter) have higher specificity*/
#tiles use.highlight3 { color: hsl(50, 93%, 93%); }
#tiles use.highlight2 { color: hsl(50, 93%, 86%); }
#tiles use.highlight1 { color: hsl(50, 93%, 81%); }
#tiles use.highlight0 { color: hsl(50, 93%, 75%); }

#tiles use.winner {
	color: gold;
}

/* arrows */

#arrow-north rect {
	fill: transparent;
}

#arrow-north polygon {
	fill: currentColor;
}

/* Arrow instances */ 

#arrows use:hover  {
	color: yellow;
	fill: currentColor;
}

#arrows use {
	color: #f2f2f2;
	visibility: hidden;
	filter: url(#shadow);
}

body:not(.winner) #arrows use.available {
	visibility: visible;
	cursor: pointer;
}

/* Tokens */

#token circle {
	fill: currentColor;
}

/* token instances */

#tokens use:not(#ghost) {
	filter: url(#shadow);
	pointer-events: none;
}

#tokens .player1 {
	color: hsl(0, 70%, 65%);
}

#tokens .player2 {
	color: hsl(228, 73%, 60%);
}

#ghost {
	opacity: 0.3;
}

#tokens .invis {
	visibility: hidden;
}

/* Topologies */

.glued {
	stroke-dasharray: 5, 28.33333;
	stroke-dashoffset: 18.16666;
	stroke-width: 20px;
	stroke-linecap: round;
	stroke: rgb(94, 152, 87);
}

.solid {
	fill: none;
	stroke: #666;
	stroke-width: 40px;
}

.Square .solid {	
	stroke-linecap: square;
}

.Torus .north, .Torus .south {
	stroke: rgb(152, 86, 137);
}

.Sphere .south { stroke: url(#purple-WE); }
.Sphere .west  { stroke: url(#purple-SN); }
.Sphere .north { stroke: url(#green-WE); }
.Sphere .east  { stroke: url(#green-SN); }

.Mobius .west, .Klein .west { stroke: url(#green-SN); }	
.Mobius .east, .Klein .east { stroke: url(#green-NS); }	
.Klein .north, .Klein .south { stroke: url(#purple-WE); }	

